.header_section {
    text-align: center;
    display: flex;
    flex-direction: column;
    grid-row-gap: 15px;

    @include mq(tablet) {
        text-align: left;
    }

    @include mq(phone) {
        grid-row-gap: 10px;
    }

    .title {}

    .description {
        font-size: 16px;

        @include mq(phone) {
            font-size: 14px;
        }
    }
}