$breakpoints: (
  "phone-min": 321px,
  "phone": 490px,
  "phablet": 530px,
  "tablet-small": 750px,
  "tablet": 940px,
  "tablet-mini": 800px,
  "tablet-md": 991px,
  "tablet-wide": 1024px,
  "desktop-mini": 1100px,
  "desktop": 1248px,
  "desktop-wide": 1440px,
  "full": 1921px
);

@mixin mq($width, $type: max) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);

    @if $type ==max {
      $width: $width - 1px;
    }

    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}

@mixin fluidFontSize($property: false, $minFont: false, $maxFont: false, $minBreakpoint: false, $maxBreakpoint: false) {


  /* Define variable for media query */
  $maxLessOne: $maxBreakpoint - 1;

  /* Define variable for fallback */
  // $avg: calc(($maxFont + $minFont) / 2);

  /* Base font size */
  // #{$property}: #{$minFont}px;



  // @media (min-width: #{$maxBreakpoint}px) {
  //   #{$property}: #{$maxFont}px;
  // }

  @media (min-width: #{$minBreakpoint }px) and (max-width: #{$maxLessOne}px) {

    /* Adds a fallback for unsupported browsers */
    // font-size: #{$avg}px;

    /* The fluid typography magic 🌟  */
    #{$property}: calc(#{$minFont}px + (#{$maxFont} - #{$minFont}) * (100vw - #{$minBreakpoint}px) / (#{$maxBreakpoint} - #{$minBreakpoint}))
  }

  @media (max-width: #{$minBreakpoint}px) {
    #{$property}: #{$minFont}px;
  }
}


// Default line-clamp is 1
@mixin text-shorten($numLines: 1) {
  @if($numLines ==0) {
    white-space: break-spaces;
    text-overflow: none;
    overflow: visible;

    @supports (-webkit-line-clamp: unset) {
      overflow: visible;
      text-overflow: ellipsis;
      white-space: break-spaces;
      display: -webkit-box;
      -webkit-line-clamp: unset;
      -webkit-box-orient: vertical;
    }
  }

  @if($numLines >0) {

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    @supports (-webkit-line-clamp: $numLines) {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: initial;
      display: -webkit-box;
      -webkit-line-clamp: $numLines;
      -webkit-box-orient: vertical;
    }
  }
}


// flexbox
@mixin flexbox($flex-direction: false, $vert: inherit, $horiz: inherit) {
  display: flex;
  flex-direction: $flex-direction;

  @if $flex-direction=="column" {
    justify-content: $vert;
    align-items: $horiz;
  }

  @else {
    justify-content: $horiz;
    align-items: $vert;
  }

}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-center-column {
  @include flex-center;
  flex-direction: column;
}

@mixin flex-center-vert {
  display: flex;
  align-items: center;
}

@mixin flex-center-horiz {
  display: flex;
  justify-content: center;
}

@mixin flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


//position
@mixin position($position: absolute, $top: auto, $right: auto, $bottom: auto, $left: auto, $z-index: false) {
  position: $position;

  @if $top {
    top: $top;
  }

  @if $right {
    right: $right;
  }

  @if $bottom {
    bottom: $bottom;
  }

  @if $left {
    left: $left;
  }

  @if $z-index {
    z-index: $z-index;
  }
}

// using ::before and ::after
@mixin pseudo($display: block, $pos: absolute, $content: '') {
  content: $content;
  display: $display;
  position: $pos;
}

//font
@mixin font-source-sans($family: false, $size: false, $weight: false, $lh: false) {
  font-family: $family , sans-serif;

  @if $size {
    font-size: $size;
  }


  @if $weight {
    font-weight: $weight;
  }

  @if $lh {
    line-height: $lh;
  }
}


// Hide from both screenreaders and browsers
@mixin hidden {
  display: none;
  visibility: hidden;
}

@mixin visible($state: 'block') {
  display: unquote($state);
  visibility: visible;
}

@mixin content-margins($selector: '> *', $last-child: false) {
  @if not $selector {
    $selector: '&';
  }

  #{unquote($selector)} {
    &:first-child {
      margin-top: 0;
    }

    @if $last-child {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

@mixin push--ends($spacing: $spacing-unit) {
  margin: {
    top: $spacing;
    bottom: $spacing;
  }
}

@mixin push--sides($spacing: $spacing-unit) {
  margin: {
    left: $spacing;
    right: $spacing;
  }
}

@mixin push--auto {
  margin: {
    left: auto;
    right: auto;
  }
}

@mixin offset--sides($spacing: $spacing-unit) {
  margin: {
    left: -$spacing;
    right: -$spacing;
  }
}

@mixin flush--ends {
  margin: {
    top: 0;
    bottom: 0;
  }
}

@mixin flush--sides {
  margin: {
    left: 0;
    right: 0;
  }
}

// add/remove paddings
@mixin soft--ends($spacing: $spacing-unit) {
  padding: {
    top: $spacing;
    bottom: $spacing;
  }
}

@mixin padding($top, $bottom) {
  padding: {
    top: $top;
    bottom: $bottom;
  }
}

@mixin soft--sides($spacing: $spacing-unit) {
  padding: {
    left: $spacing;
    right: $spacing;
  }
}

@mixin hard--ends {
  padding: {
    top: 0;
    bottom: 0;
  }
}

@mixin hard--sides {
  padding: {
    left: 0;
    right: 0;
  }
}


@mixin unlist($margin: true, $padding: true) {
  @if $margin {
    @if $margin =='vertical' {
      @include flush--ends;
    }

    @else if $margin =='horizontal' {
      @include flush--sides;
    }

    @else {
      margin: 0;
    }
  }

  @if $padding {
    padding: 0;
  }

  list-style: none;
}

@mixin bgnd-color($color, $alpha) {
  background-color: rgba($color, $alpha);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;

}

@function colors-opacity ($color, $alpha) {
  @return rgba($color, $alpha);
}

@mixin colors-palette ($name, $color, $color_h, $bg_color) {
  .#{$name} {
    background-color: $bg_color;

    p {
      color: $color;

      a {
        color: $color;

      }
    }

    h1,
    h2,
    h3,
    h4:not(.subtitle) {
      color: $color_h;
    }
  }
}


@mixin btn-color ($name, $color, $bg_color, $hover-bg-color, $hover-color, $content: '', $p-r: 0) {
  .#{$name} {
    color: $color;
    display: inline-flex;
    grid-gap: $p-r+ 0px;
    background-color: $bg_color;

    @include mq(tablet-mini) {
      background-color: $bg_color;

    }

    @if $content {
      &::before {
        @include pseudo(inline-block, relative, $content);
        color: $color;


      }

    }

    &:hover {
      background-color: $hover-bg-color;
      color: $hover-color;

    }
  }
}